name: Test Comment Inputs
description: Workflow to test comment comment-body, comment-body-path, and render-markdown functionality

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled

jobs:
  # Tests reading the comment body from markdown files and updating via a second file.
  test_input_markdown_file:
    name: Test Input Markdown File
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-inputs')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Load Environment Variables From .env File
        run: |
          grep '^CHECK_NAME_1=' ci/vars/test.env >> $GITHUB_ENV
          grep '^COMMENT_BODY_PATH_1=' ci/vars/test.env >> $GITHUB_ENV
          grep '^COMMENT_BODY_PATH_2=' ci/vars/test.env >> $GITHUB_ENV
          grep '^CONCLUSION=' ci/vars/test.env >> $GITHUB_ENV
          grep '^UPDATE_MODE_1=' ci/vars/test.env >> $GITHUB_ENV
          grep '^UPDATE_MODE_2=' ci/vars/test.env >> $GITHUB_ENV

      - name: Comment On PR With Markdown File Comment
        uses: ./
        id: comment-file
        with:
          comment-id: ${{ env.CHECK_NAME_1 }}
          comment-body-path: ${{ env.COMMENT_BODY_PATH_1 }}
          conclusion: ${{ env.CONCLUSION }}
          update-mode: ${{ env.UPDATE_MODE_1 }}

      - name: Update Comment On PR With Markdown File Comment
        uses: ./
        id: comment-file-update
        with:
          comment-id: ${{ env.CHECK_NAME_1 }}
          comment-body-path: ${{ env.COMMENT_BODY_PATH_2 }}
          conclusion: ${{ env.CONCLUSION }}
          update-mode: ${{ env.UPDATE_MODE_2 }}

  # Tests that the verbose-logging input enables extended logging paths.
  test_input_verbose_logging:
    name: Test Input Verbose Logging
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-inputs')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Comment On PR With Verbose Logging
        uses: ./
        id: comment-direct
        with:
          comment-id: "verbose-logging"
          comment-body: "test comment using verbose logging - initial comment"
          conclusion: "success"
          verbose-logging: true
          update-mode: "create"

  # Tests markdown formatting is not rendered when render-markdown is false.
  test_render_markdown_false:
    name: Test Render Markdown False
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-inputs')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Comment On PR With Unrendered Markdown Comment
        uses: ./
        id: comment-file
        with:
          comment-id: "test-unrendered-markdown-comment"
          comment-body: "the **bold** should not be bold\n\nthe *italic* should not be italic\n\nthe `code` should not be code"
          conclusion: "success"
          update-mode: "create"
          render-markdown: false

    # Tests that comment-body and comment-body-path don't have to be supplied.
    test_input_no_comment:
      name: Test Input No Comment Body
      runs-on: ubuntu-latest
      permissions:
        contents: read
        pull-requests: write
      continue-on-error: true
      if: contains(github.event.pull_request.labels.*.name, 'test-inputs')
      steps:
        - name: Checkout Repo
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

        - name: Comment On PR With No Comment Body
          uses: ./
          id: comment-file
          with:
            comment-id: "test-no-comment-body"
            conclusion: "success"
            update-mode: "create"
            verbose-logging: true
      
      