name: Test Comment From Markdown File
on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test_action:
    name: Test Comment From Markdown File
    runs-on: [self-hosted, org]
    permissions:
      pull-requests: write
      issues: write
      contents: write
      checks: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Load environment variables from .env file
        run: |
          grep '^CHECK_NAME_1=' ci/vars/test.env >> $GITHUB_ENV
          grep '^COMMENT_BODY_PATH_1=' ci/vars/test.env >> $GITHUB_ENV
          grep '^COMMENT_BODY_PATH_2=' ci/vars/test.env >> $GITHUB_ENV
          grep '^CONCLUSION=' ci/vars/test.env >> $GITHUB_ENV
          grep '^UPDATE_MODE_1=' ci/vars/test.env >> $GITHUB_ENV
          grep '^UPDATE_MODE_2=' ci/vars/test.env >> $GITHUB_ENV

      - name: Comment on PR with markdown file comment
        uses: ./
        id: comment-file
        with:
          comment-id: ${{ env.CHECK_NAME_1 }}
          comment-body-path: ${{ env.COMMENT_BODY_PATH_1 }}
          conclusion: ${{ env.CONCLUSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-mode: ${{ env.UPDATE_MODE_1 }}

      - name: Update comment on PR with markdown file comment
        uses: ./
        id: comment-file-update
        with:
          comment-id: ${{ env.CHECK_NAME_1 }}
          comment-body-path: ${{ env.COMMENT_BODY_PATH_2 }}
          conclusion: ${{ env.CONCLUSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-mode: ${{ env.UPDATE_MODE_2 }}
