name: Test Hide Hidden Comment Action

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test_action:
    name: Test Hide Hidden Comment Action
    runs-on: [self-hosted, org]
    permissions:
      pull-requests: write
      issues: write
      contents: write
      checks: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Comment on PR with direct comment
        uses: ./
        id: comment-direct
        with:
          comment-id: "test-resolution-hide-again"
          comment-body: "test resolution hide again - initial comment"
          conclusion: "failure"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-mode: "replace"

      - name: Update comment with replace (and hide)
        uses: ./
        id: comment-update-replace-hide
        with:
          comment-id: "test-resolution-hide-again"
          comment-body: "test resolution hide again - updated comment"
          conclusion: "success"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-mode: "replace"
          on-resolution-hide: true

      - name: Update comment with replace (and 'hide' again)
        uses: ./
        id: comment-update-replace-hide-again
        with:
          comment-id: "test-resolution-hide-again"
          comment-body: "test resolution hide again - updated comment - to hide again"
          conclusion: "success"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-mode: "replace"
          on-resolution-hide: true
