name: Test Comment Conclusions
description: Workflow to test comment conclusion functionality

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled

jobs:
  # Tests cancelled conclusion posts doesn't create comment.
  test_conclusion_cancelled_no_update:
    name: Test Conclusion Cancelled No Update
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-conclusions')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Comment On PR With Direct Comment
        uses: ./
        id: comment-direct
        with:
          comment-id: "test-conclusion-cancelled"
          comment-body: "test conclusion type cancelled - initial comment"
          conclusion: "cancelled"
          update-mode: "none"

  # Tests skipped conclusion with sync enabled creates no initial comment.
  test_conclusion_skipped_initial_comment:
    name: Test Conclusion Skipped Initial Comment
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-conclusions')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Comment On PR With Direct Comment
        uses: ./
        id: comment-direct
        with:
          comment-id: "test-conclusion-skipped-first-comment"
          comment-body: "test conclusion type skipped - initial comment"
          conclusion: "skipped"
          update-mode: "none"
          sync-conclusion: true

  # Tests skipped conclusion keeps the comment hidden when sync-conclusion is true.
  test_conclusion_skipped_sync_true:
    name: Test Conclusion Skipped Sync True
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-conclusions')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Comment On PR With Direct Comment
        uses: ./
        id: comment-direct
        with:
          comment-id: "test-conclusion-skipped-resolution-true"
          comment-body: "test conclusion type skipped resolution true - initial comment"
          conclusion: "success"
          update-mode: "none"
          sync-conclusion: true

      - name: Comment Shouldn't Update And Old Hidden
        uses: ./
        id: comment-update-append
        with:
          comment-id: "test-conclusion-skipped-resolution-true"
          comment-body: "test conclusion type skipped resolution true - updated comment"
          conclusion: "skipped"
          update-mode: "none"
          sync-conclusion: true

  # Tests skipped conclusion remains visible when sync-conclusion is false.
  test_conclusion_skipped_sync_false:
    name: Test Conclusion Skipped Sync False
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    continue-on-error: true
    if: contains(github.event.pull_request.labels.*.name, 'test-conclusions')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Comment On PR With Direct Comment
        uses: ./
        id: comment-direct
        with:
          comment-id: "test-conclusion-skipped-resolution-false"
          comment-body: "test conclusion type skipped resolution false - initial comment"
          conclusion: "success"
          update-mode: "none"
          sync-conclusion: false

      - name: Comment Shouldn't Update And Old Visible
        uses: ./
        id: comment-update-append
        with:
          comment-id: "test-conclusion-skipped-resolution-false"
          comment-body: "test conclusion type skipped resolution false - updated comment"
          conclusion: "skipped"
          update-mode: "none"
          sync-conclusion: false
